.platform-container {
  justify-content: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid rgb(233, 236, 239);
    aspect-ratio: 4/3;
    border-radius: 8px;
    margin: 0 5px 20PX !important;
  }
}
